{{!-- Use layout main.hbs --}}
{{!< main }}

<h1>Welcome!</h1>

<ul>
  {{#each users}}
    {{!-- this refers to the current user in the loop --}}
    <li><a href="/user/{{ this.slug }}">{{ this.firstname }} {{ this.lastname }}</a></li>
  {{/each}}
</ul>
